<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.com.danne.lee.mapper.RecordFileMapper">
  <resultMap id="BaseResultMap" type="github.com.danne.lee.entity.RecordFile">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="record_name" jdbcType="VARCHAR" property="recordName" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="record_storage_type" jdbcType="VARCHAR" property="recordStorageType" />
    <result column="record_size" jdbcType="BIGINT" property="recordSize" />
    <result column="record_path" jdbcType="VARCHAR" property="recordPath" />
    <result column="record_waveform_path" jdbcType="VARCHAR" property="recordWaveformPath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="record_desc" jdbcType="VARCHAR" property="recordDesc" />
    <result column="is_resolved" jdbcType="VARCHAR" property="isResolved" />
    <result column="record_length" jdbcType="BIGINT" property="recordLength" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="conditions" jdbcType="VARCHAR" property="conditions" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, record_name, group_id, record_storage_type, record_size, record_path, record_waveform_path, 
    create_time, record_desc, is_resolved, record_length, code, conditions, org_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record_file
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from record_file
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="github.com.danne.lee.entity.RecordFile">
    insert into record_file (id, record_name, group_id, 
      record_storage_type, record_size, record_path, 
      record_waveform_path, create_time, record_desc, 
      is_resolved, record_length, code, 
      conditions, org_name)
    values (#{id,jdbcType=VARCHAR}, #{recordName,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, 
      #{recordStorageType,jdbcType=VARCHAR}, #{recordSize,jdbcType=BIGINT}, #{recordPath,jdbcType=VARCHAR}, 
      #{recordWaveformPath,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{recordDesc,jdbcType=VARCHAR}, 
      #{isResolved,jdbcType=VARCHAR}, #{recordLength,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, 
      #{conditions,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="github.com.danne.lee.entity.RecordFile">
    insert into record_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="recordName != null">
        record_name,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="recordStorageType != null">
        record_storage_type,
      </if>
      <if test="recordSize != null">
        record_size,
      </if>
      <if test="recordPath != null">
        record_path,
      </if>
      <if test="recordWaveformPath != null">
        record_waveform_path,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="recordDesc != null">
        record_desc,
      </if>
      <if test="isResolved != null">
        is_resolved,
      </if>
      <if test="recordLength != null">
        record_length,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="conditions != null">
        conditions,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="recordName != null">
        #{recordName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="recordStorageType != null">
        #{recordStorageType,jdbcType=VARCHAR},
      </if>
      <if test="recordSize != null">
        #{recordSize,jdbcType=BIGINT},
      </if>
      <if test="recordPath != null">
        #{recordPath,jdbcType=VARCHAR},
      </if>
      <if test="recordWaveformPath != null">
        #{recordWaveformPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordDesc != null">
        #{recordDesc,jdbcType=VARCHAR},
      </if>
      <if test="isResolved != null">
        #{isResolved,jdbcType=VARCHAR},
      </if>
      <if test="recordLength != null">
        #{recordLength,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="conditions != null">
        #{conditions,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="github.com.danne.lee.entity.RecordFile">
    update record_file
    <set>
      <if test="recordName != null">
        record_name = #{recordName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="recordStorageType != null">
        record_storage_type = #{recordStorageType,jdbcType=VARCHAR},
      </if>
      <if test="recordSize != null">
        record_size = #{recordSize,jdbcType=BIGINT},
      </if>
      <if test="recordPath != null">
        record_path = #{recordPath,jdbcType=VARCHAR},
      </if>
      <if test="recordWaveformPath != null">
        record_waveform_path = #{recordWaveformPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordDesc != null">
        record_desc = #{recordDesc,jdbcType=VARCHAR},
      </if>
      <if test="isResolved != null">
        is_resolved = #{isResolved,jdbcType=VARCHAR},
      </if>
      <if test="recordLength != null">
        record_length = #{recordLength,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="conditions != null">
        conditions = #{conditions,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="github.com.danne.lee.entity.RecordFile">
    update record_file
    set record_name = #{recordName,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      record_storage_type = #{recordStorageType,jdbcType=VARCHAR},
      record_size = #{recordSize,jdbcType=BIGINT},
      record_path = #{recordPath,jdbcType=VARCHAR},
      record_waveform_path = #{recordWaveformPath,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      record_desc = #{recordDesc,jdbcType=VARCHAR},
      is_resolved = #{isResolved,jdbcType=VARCHAR},
      record_length = #{recordLength,jdbcType=BIGINT},
      code = #{code,jdbcType=VARCHAR},
      conditions = #{conditions,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="github.com.danne.lee.entity.RecordFile">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="record_name" jdbcType="VARCHAR" property="recordName" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="record_storage_type" jdbcType="VARCHAR" property="recordStorageType" />
    <result column="record_size" jdbcType="BIGINT" property="recordSize" />
    <result column="record_path" jdbcType="VARCHAR" property="recordPath" />
    <result column="record_waveform_path" jdbcType="VARCHAR" property="recordWaveformPath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="record_desc" jdbcType="VARCHAR" property="recordDesc" />
    <result column="is_resolved" jdbcType="VARCHAR" property="isResolved" />
    <result column="record_length" jdbcType="BIGINT" property="recordLength" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="conditions" jdbcType="VARCHAR" property="conditions" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, record_name, group_id, record_storage_type, record_size, record_path, record_waveform_path, 
    create_time, record_desc, is_resolved, record_length, code, conditions, org_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record_file
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from record_file
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="github.com.danne.lee.entity.RecordFile">
    insert into record_file (id, record_name, group_id, 
      record_storage_type, record_size, record_path, 
      record_waveform_path, create_time, record_desc, 
      is_resolved, record_length, code, 
      conditions, org_name)
    values (#{id,jdbcType=VARCHAR}, #{recordName,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, 
      #{recordStorageType,jdbcType=VARCHAR}, #{recordSize,jdbcType=BIGINT}, #{recordPath,jdbcType=VARCHAR}, 
      #{recordWaveformPath,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{recordDesc,jdbcType=VARCHAR}, 
      #{isResolved,jdbcType=VARCHAR}, #{recordLength,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, 
      #{conditions,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="github.com.danne.lee.entity.RecordFile">
    insert into record_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="recordName != null">
        record_name,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="recordStorageType != null">
        record_storage_type,
      </if>
      <if test="recordSize != null">
        record_size,
      </if>
      <if test="recordPath != null">
        record_path,
      </if>
      <if test="recordWaveformPath != null">
        record_waveform_path,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="recordDesc != null">
        record_desc,
      </if>
      <if test="isResolved != null">
        is_resolved,
      </if>
      <if test="recordLength != null">
        record_length,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="conditions != null">
        conditions,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="recordName != null">
        #{recordName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="recordStorageType != null">
        #{recordStorageType,jdbcType=VARCHAR},
      </if>
      <if test="recordSize != null">
        #{recordSize,jdbcType=BIGINT},
      </if>
      <if test="recordPath != null">
        #{recordPath,jdbcType=VARCHAR},
      </if>
      <if test="recordWaveformPath != null">
        #{recordWaveformPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordDesc != null">
        #{recordDesc,jdbcType=VARCHAR},
      </if>
      <if test="isResolved != null">
        #{isResolved,jdbcType=VARCHAR},
      </if>
      <if test="recordLength != null">
        #{recordLength,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="conditions != null">
        #{conditions,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="github.com.danne.lee.entity.RecordFile">
    update record_file
    <set>
      <if test="recordName != null">
        record_name = #{recordName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="recordStorageType != null">
        record_storage_type = #{recordStorageType,jdbcType=VARCHAR},
      </if>
      <if test="recordSize != null">
        record_size = #{recordSize,jdbcType=BIGINT},
      </if>
      <if test="recordPath != null">
        record_path = #{recordPath,jdbcType=VARCHAR},
      </if>
      <if test="recordWaveformPath != null">
        record_waveform_path = #{recordWaveformPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordDesc != null">
        record_desc = #{recordDesc,jdbcType=VARCHAR},
      </if>
      <if test="isResolved != null">
        is_resolved = #{isResolved,jdbcType=VARCHAR},
      </if>
      <if test="recordLength != null">
        record_length = #{recordLength,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="conditions != null">
        conditions = #{conditions,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="github.com.danne.lee.entity.RecordFile">
    update record_file
    set record_name = #{recordName,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      record_storage_type = #{recordStorageType,jdbcType=VARCHAR},
      record_size = #{recordSize,jdbcType=BIGINT},
      record_path = #{recordPath,jdbcType=VARCHAR},
      record_waveform_path = #{recordWaveformPath,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      record_desc = #{recordDesc,jdbcType=VARCHAR},
      is_resolved = #{isResolved,jdbcType=VARCHAR},
      record_length = #{recordLength,jdbcType=BIGINT},
      code = #{code,jdbcType=VARCHAR},
      conditions = #{conditions,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="github.com.danne.lee.entity.RecordFile">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="record_name" jdbcType="VARCHAR" property="recordName" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="record_storage_type" jdbcType="VARCHAR" property="recordStorageType" />
    <result column="record_size" jdbcType="BIGINT" property="recordSize" />
    <result column="record_path" jdbcType="VARCHAR" property="recordPath" />
    <result column="record_waveform_path" jdbcType="VARCHAR" property="recordWaveformPath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="record_desc" jdbcType="VARCHAR" property="recordDesc" />
    <result column="is_resolved" jdbcType="VARCHAR" property="isResolved" />
    <result column="record_length" jdbcType="BIGINT" property="recordLength" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="conditions" jdbcType="VARCHAR" property="conditions" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, record_name, group_id, record_storage_type, record_size, record_path, record_waveform_path, 
    create_time, record_desc, is_resolved, record_length, code, conditions, org_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record_file
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from record_file
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="github.com.danne.lee.entity.RecordFile">
    insert into record_file (id, record_name, group_id, 
      record_storage_type, record_size, record_path, 
      record_waveform_path, create_time, record_desc, 
      is_resolved, record_length, code, 
      conditions, org_name)
    values (#{id,jdbcType=VARCHAR}, #{recordName,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, 
      #{recordStorageType,jdbcType=VARCHAR}, #{recordSize,jdbcType=BIGINT}, #{recordPath,jdbcType=VARCHAR}, 
      #{recordWaveformPath,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{recordDesc,jdbcType=VARCHAR}, 
      #{isResolved,jdbcType=VARCHAR}, #{recordLength,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, 
      #{conditions,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="github.com.danne.lee.entity.RecordFile">
    insert into record_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="recordName != null">
        record_name,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="recordStorageType != null">
        record_storage_type,
      </if>
      <if test="recordSize != null">
        record_size,
      </if>
      <if test="recordPath != null">
        record_path,
      </if>
      <if test="recordWaveformPath != null">
        record_waveform_path,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="recordDesc != null">
        record_desc,
      </if>
      <if test="isResolved != null">
        is_resolved,
      </if>
      <if test="recordLength != null">
        record_length,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="conditions != null">
        conditions,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="recordName != null">
        #{recordName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="recordStorageType != null">
        #{recordStorageType,jdbcType=VARCHAR},
      </if>
      <if test="recordSize != null">
        #{recordSize,jdbcType=BIGINT},
      </if>
      <if test="recordPath != null">
        #{recordPath,jdbcType=VARCHAR},
      </if>
      <if test="recordWaveformPath != null">
        #{recordWaveformPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordDesc != null">
        #{recordDesc,jdbcType=VARCHAR},
      </if>
      <if test="isResolved != null">
        #{isResolved,jdbcType=VARCHAR},
      </if>
      <if test="recordLength != null">
        #{recordLength,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="conditions != null">
        #{conditions,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="github.com.danne.lee.entity.RecordFile">
    update record_file
    <set>
      <if test="recordName != null">
        record_name = #{recordName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="recordStorageType != null">
        record_storage_type = #{recordStorageType,jdbcType=VARCHAR},
      </if>
      <if test="recordSize != null">
        record_size = #{recordSize,jdbcType=BIGINT},
      </if>
      <if test="recordPath != null">
        record_path = #{recordPath,jdbcType=VARCHAR},
      </if>
      <if test="recordWaveformPath != null">
        record_waveform_path = #{recordWaveformPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordDesc != null">
        record_desc = #{recordDesc,jdbcType=VARCHAR},
      </if>
      <if test="isResolved != null">
        is_resolved = #{isResolved,jdbcType=VARCHAR},
      </if>
      <if test="recordLength != null">
        record_length = #{recordLength,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="conditions != null">
        conditions = #{conditions,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="github.com.danne.lee.entity.RecordFile">
    update record_file
    set record_name = #{recordName,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      record_storage_type = #{recordStorageType,jdbcType=VARCHAR},
      record_size = #{recordSize,jdbcType=BIGINT},
      record_path = #{recordPath,jdbcType=VARCHAR},
      record_waveform_path = #{recordWaveformPath,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      record_desc = #{recordDesc,jdbcType=VARCHAR},
      is_resolved = #{isResolved,jdbcType=VARCHAR},
      record_length = #{recordLength,jdbcType=BIGINT},
      code = #{code,jdbcType=VARCHAR},
      conditions = #{conditions,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>